<div class= "container mt-3">
  <h2 class="index-header">My bookings</h2>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <p id="tombstone-head"><strong><%= booking.tour.name %></strong></p>
        <div id="carouselExampleIndicators<%= booking.id %>" class="carousel slide h-50">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators<%= booking.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= booking.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= booking.id %>" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner  h-100">
            <% booking.tour.photos.each_with_index do |photo, index| %>
              <div class="carousel-item  h-100 my-relative <%= "active" if index == 0 %>">
                <%= cl_image_tag photo.key, class:"d-block w-100 h-100", alt:"..." %>
                <div class="favorite-logo">
                  <img src="https://cdn-icons-png.flaticon.com/512/7562/7562403.png" alt="" class="logo-size">
                </div>
                <%= link_to '', tour_path(booking.tour), class: "my-overlay" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= booking.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= booking.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="my relative">
          <div class="card-info-top">
            <p>$<%= booking.tour.price * booking.guests %></p>
            <p>⚰️ 5</p>
          </div>
          <<<<<<< HEAD
          <div class="card-info-bottom">
            <i class="fa-regular fa-clock card-product-logo-margin"></i><%= booking.nice_date %>
            <p>$<%= booking.tour.price %></p>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'Canceled'} %>
              <%= f.submit 'Cancel', class: 'btn btn-info' %>
            <% end %>
            <%= link_to '', tour_path(booking.tour), class: "my-overlay" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
