<% bookings.each do |booking|%>
  <div class="card-product">
    <%= cl_image_tag booking.user.photo.key, class:'rounded-circle'%>
    <div class="card-product-infos black-shadow">
      <h3 class = "black-shadow"><%= booking.user.full_name %></h3>
      <div class="d-flex align-items-end card-product-bottom-height">
        <div class="card-product-margin my-relative ">
          <i class="fa-regular fa-building card-product-logo-margin"></i> <%= booking.tour.name %>
          <%= link_to '', tour_path(booking.tour), class: "my-overlay" %>
        </div>
        <div class="card-product-margin ">
          <i class="fa-regular fa-clock card-product-logo-margin"></i><%= booking.nice_date %>
        </div>
        <div class="card-product-margin">
          <i class="fa-solid fa-person"></i>
          <%= booking.guests %>
        </div>
        <div class="card-product-margin">
          <i class="fa-regular fa-dollar-sign "></i>
          <%= booking.tour.price * booking.guests  %>
        </div>
        <div class="d-flex">
          <% if booking.pending? %>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: {value: 'accepted'} %>
              <%= f.submit 'Accept', class: 'btn btn-info' %>
            <% end %>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: {value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
          <% else %>
            <div class=""><%= booking.status %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
