<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.svgrepo.com/show/187699/ghost.svg" %>
    <% end %>
    <h2 class="min-max-content">Haunted Tours</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active min-max-content">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active min-max-content">
            <%= link_to "Tours", tours_path, class: "nav-link" %>
          </li>
          <li class="nav-item active min-max-content">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <% if current_user.bookings_as_owner.any? %>
            <li class="nav-item active min-max-content">
              <%= link_to "My Hosted Tours", hosted_tours_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag "https://www.svgrepo.com/show/407756/zombie.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", "#", class: "dropdown-item" %>
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
