<div class='container'>
  <div class='py-3 px-5 ms-5 text-light text-center'>
    <h1><%= @tour.name %></h1>
  </div>
  <div class='row'>
    <div class='col-6'>
      <div class='justify-content-start'>
        <div class='photo-gallery-2' data-controller="lightbox">
          <% @tour.photos.each.with_index do |photo, index| %>
            <%= link_to url_for(photo), class: "#{"big-one-2" if index == 0}" do%>
              <%= cl_image_tag photo.key, class: "#{"small-one-#{index}" if index > 0}"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class='tour-content'>
        <div class='mb-3'>
          <div class='w-100 mb-5'>
              <div class='show-tour-content p-3' id="bg-image-show"style="background-image: url('https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');height: 20vh">
                <h3 class='white-shadow'>Tour hosted by: <%=@tour.user.first_name  %></h3>
                <span class='white-shadow'>Location: <%=@tour.location %></span>
              </div>
          </div>
          <div class='h-50 mb-5 w-100'>
              <div class='show-tour-content p-3 mt-4 p-3 mt-5 h-50 id="bg-image-show'style="background-image: url('https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');height: 20vh">
                <h2 class='white-shadow'>Tour description</h2>
                <p class='white-shadow'><%= @tour.description %></p>
              </div>
          </div>
          <div class='show-tour-content p-3 my-5 h-25 w-50' data-controller="booking" id="bg-image-show"style="background-image: url('https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');height: 60vh">
            <h3 class="white-shadow" >$<span data-booking-target="price" data-value= <%=@tour.price%>><%= @tour.price %></span></h3>
            <div class="dropdown">
            <%# <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Victims number:
          </button> %>
              <div>
                <%= render 'bookings/form', tour: @tour, booking: Booking.new %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
