<div class='container'>
  <div class='p-5 ms-5 text-light'>
    <h1><%= @tour.name %></h1>
    <h5>
    </h5>
  </div>
  <div class='photo-gallery' data-controller="lightbox">
    <% @tour.photos.each.with_index do |photo, index| %>
      <%= link_to url_for(photo), class: "#{"big-one" if index == 0}" do %>
        <%= cl_image_tag photo.key, class: "w-100", style: "#{"height: 250px" unless index == 0}" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class='tour-content'>
  <div class='container d-flex justify-content-between w-100 p-4'>
    <div class='mb-3 w-75 pe-5'>
      <div class='show-tour-content p-3'>
        <h3 class="white-shadow">Tour hosted by: <%=@tour.user.first_name  %>
        </h3>
        <span class="white-shadow">Location: <%=  @tour.location %></span>
      </div>
      <div class='show-tour-content p-3 mt-4 p-3 mt-5 h-50 d-flex flex-column justify-content-center'>
        <h2 class='white-shadow'>Tour description</h2>
        <p><%= @tour.description %></p>
      </div>
    </div>
    <div class='show-tour-content p-3' data-controller="booking">
      <h3 class="white-shadow" >$<span data-booking-target="price" data-value= <%=@tour.price%>><%= @tour.price %></span></h3>
        <div class="dropdown">
          <%# <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Victims number:
          </button> %>
          <div>
            <%= render 'bookings/form', tour: @tour, booking: Booking.new %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='review d-flex mt-3'>
    <div class='review-form w-75 d-flex justify-content-center'>
      <div class='w-75'>
        <%= render 'shared/reviews', tour: @tour, review: @review %>
        <div class='pt-4'>
          <%= render 'shared/review_display_all', reviews: @reviews %>
        </div>
      </div>
    </div>
  </div>